.popup{
    background-color: red;
    position: fixed;
    z-index: 1000;
    top: 3%;
    width: 25vw;
    height: 20vh;
    border-radius: 20px;
    animation: popupAppear 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

h2{
    border-bottom: black solid 2px;
    padding-left: 1vw;
}

p{
    text-align: center;
    margin-top: 12%;
    text-decoration: none;
    cursor: default;
}

@keyframes popupAppear {
    from {
        opacity: 0;
        transform: translateY(-50px) scale(0.8);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}