.badge-exam-view {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.4rem 0.8rem;
  min-width: 2.5rem;
  text-align: center;
}

.exam-view-container {
  background: #f0f0f0;
  border: 0.125rem solid #ccc;
  display: flex;
  gap: 0;
  width: 100vw;
  height: 90vh;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

.exam-view-container .left-panel {
  flex: 1;
  padding: 1.5rem;
  border-right: 0.125rem solid #ccc;
  box-sizing: border-box;
}

.exam-view-container .right-panel {
  display: grid;
  grid-template-columns: repeat(4, 2rem);
  grid-template-rows: repeat(8, 2rem);
  align-content: start;
  height: auto;
  gap: 0.9rem;
  padding: 1.5rem;
  justify-content: center;
}

.explanation-area {
  margin-top: 5rem;
  width: 10rem;
}

.explanation-area p {
  font-size: large;
}
