.admin-panel-container {
  display: flex;
  height: 92vh;
  width: 100vw;
}

.admin-panel-sidebar {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 280px;
}

.admin-panel-nav {
  display: flex;
  flex-direction: column;
}

.admin-panel-content {
  background-color: white;
  margin: 5rem;
  flex: 1;
  margin-bottom: 16vh;
}
