* {
  font-family: inter;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image:
    linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)),
    url(./assets/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
